@import './variables.scss';
@import './resets.scss';

.lep-picker {
  &, &::before, &::after, & *, *::before, *::after {
    box-sizing: border-box;
  }

  &:focus, & *:focus {
    outline: var(--lep-outline-color) solid var(--lep-outline-size);
    outline-offset: calc(-1 * var(--lep-outline-size)); // fix focus ring getting cropped
  }

  contain: content;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  background: var(--lep-background-color);
  border: 1px solid var(--lep-border-color);
}

// via https://stackoverflow.com/a/19758620
.lep-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lep-hidden {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.lep-shown {
  display: block;
}

.lep-not-shown {
  display: none;
}