.lep-picker {
  &, &::before, &::after, & *, *::before, *::after {
    box-sizing: border-box;
  }

  $border: #999;
  $bg: #fff;
  $placeholder: #999;
  --lep-input-border-color: #{$border};
  --lep-background-color: #{$bg};
  --lep-placeholder-color: #{$placeholder};
  --lep-hover-background-color: #{darken($bg, 15%)};
  --lep-active-background-color: #{darken($bg, 10%)};

  &.lep-dark {
    $border: #ccc;
    $bg: #111;
    $placeholder: #ccc;
    --lep-input-border-color: #{$border};
    --lep-background-color: #{$bg};
    --lep-placeholder-color: #{$placeholder};
    --lep-hover-background-color: #{lighten($bg, 15%)};
    --lep-active-background-color: #{lighten($bg, 20%)};
  }

  contain: content;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  background: var(--lep-background-color);
}

// via https://stackoverflow.com/a/19758620
.lep-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.lep-hidden {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.lep-shown {
  display: block;
}

.lep-not-shown {
  display: none;
}

/* CSS resets */

.lep-picker button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
}

.lep-picker input {
  padding: 0;
  margin: 0;
  line-height: 1.15;
}

.lep-picker input[type=search] {
  -webkit-appearance: none;
}