.picker button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0; // https://stackoverflow.com/a/199319/680742
  }
}

.picker input {
  padding: 0;
  margin: 0;
  line-height: 1.15;
}

.picker input[type=search] {
  -webkit-appearance: none;
}
