@mixin vars($dark) {
  $border: #e0e0e0 !default;
  $bg: #fff !default;
  $placeholder: #999 !default;
  $outline: rgb(43, 110, 180) !default; // Chrome default focus color
  $input-border: #999 !default;

  @if $dark {
    $border: #444;
    $bg: #222;
    $placeholder: #ccc;
    $outline: #fff;
    $input-border: #ccc;
  }

  --lep-border-color: #{$border};
  --lep-input-border-color: #{$input-border};
  --lep-background-color: #{$bg};
  --lep-placeholder-color: #{$placeholder};
  --lep-outline-color: #{$outline};

  @if $dark {
    --lep-hover-background-color: #{lighten($bg, 15%)};
    --lep-active-background-color: #{lighten($bg, 20%)};
  } @else {
    --lep-hover-background-color: #{darken($bg, 15%)};
    --lep-active-background-color: #{darken($bg, 10%)};
  }
}

.lep-picker {
  &.lep-light {
    @include vars(false);
  }

  &.lep-dark {
    @include vars(true);
  }
}