@mixin vars($dark) {
  $border: #e0e0e0;
  $bg: #fff;
  $placeholder: #999;
  $outline: #999;
  $input-border: #999;
  $indicator: #385ac1;
  $input-color: #111;

  @if $dark {
    $border: #444;
    $bg: #222;
    $placeholder: #ccc;
    $outline: #fff;
    $input-border: #ccc;
    $indicator: #5373ec;
    $input-color: #efefef;
  }

  --lep-border-color: #{$border};
  --lep-input-border-color: #{$input-border};
  --lep-background-color: #{$bg};
  --lep-placeholder-color: #{$placeholder};
  --lep-outline-color: #{$outline};
  --lep-indicator-color: #{$indicator};
  --lep-indicator-height: 3px;
  --lep-outline-size: 2px;
  --lep-input-font-color: #{$input-color};

  @if $dark {
    --lep-hover-background-color: #{lighten($bg, 15%)};
    --lep-active-background-color: #{lighten($bg, 20%)};
  } @else {
    --lep-hover-background-color: #{darken($bg, 15%)};
    --lep-active-background-color: #{darken($bg, 10%)};
  }
}

.lep-picker {
  &.lep-light {
    @include vars(false);
  }

  &.lep-dark {
    @include vars(true);
  }
}