# TravisCI configuration for nolanlawson/emoji-picker-element
language: node_js
os:
  - linux
dist: xenial
branches:
  only:
    - master
addons:
  chrome: stable
node_js:
  - "14"
matrix:
  include:
    - env: COMMAND=test
    - env: COMMAND=test:leak
    - env: COMMAND=benchmark:bundlesize
cache:
  yarn: true
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"
before_script:
  - yarn run lint
script:
  - yarn run "$COMMAND"
