<svelte:options tag={null} />
<section
  class="picker"
  aria-label={i18n.regionLabel}
  {style}
  bind:this={rootElement}
>
  <div class="search-row">
    <div class="search-wrapper"
         role="combobox"
         aria-expanded={!!(searchMode && currentEmojis.length)}
         aria-controls="search-results"
         aria-haspopup="listbox"
         aria-label={i18n.search}
    >
      <input
        id="search"
        class="search"
        type="text"
        placeholder={i18n.search}
        autocapitalize="none"
        spellcheck="true"
        aria-controls="search-results"
        aria-describedby="search-description"
        aria-autocomplete="list"
        aria-activedescendant={activeSearchItem === -1 ? '' : `emoji-${currentEmojis[activeSearchItem].unicode}`}
        bind:value={rawSearchText}
        on:keydown={onSearchKeydown}
      >
      <label class="sr-only" for="search">{i18n.search}</label>
      <span id="search-description" class="sr-only">{i18n.searchDescription}</span>
    </div>
    <button id="skintone-button"
            class="emoji {skinTonePickerExpanded ? 'hide-focus' : ''}"
            aria-label={i18n.skinToneLabel}
            aria-describedby="skintone-description"
            aria-haspopup="listbox"
            aria-expanded={skinTonePickerExpanded}
            aria-controls="skintone-list"
            on:click={onClickSkinToneButton}
    >{skinToneText}</button>
    <span id="skintone-description" class="sr-only">{i18n.skinToneDescription}</span>
    <div id="skintone-list"
         class="skintone-list {skinTonePickerExpanded ? '' : 'hidden no-animate'}"
         style="{skinTonePickerExpanded ? 'transform: translateY(0);' : 'transform: translateY(calc(-1 * var(--num-skintones) * var(--total-emoji-size)))'}"
         role="listbox"
         aria-label={i18n.skinTonesTitle}
         aria-activedescendant="skintone-{activeSkinTone}"
         aria-hidden={!skinTonePickerExpanded}
         on:keydown={onSkinToneOptionKeydown}
         on:focusout={onSkinToneOptionsBlur}
         on:click={onClickSkinToneOption}
    >
      {#each skinTones as skinTone, i (skinTone)}
        <button id="skintone-{i}"
                class="emoji skintone-option hide-focus {i === activeSkinTone ? 'active' : ''}"
                aria-selected={i === activeSkinTone}
                role="option"
                tabindex="-1"
      >
          <!-- I would use an aria-label here, but Safari+VoiceOver does not read it
               out unless I do it this way -->
          <span class="no-pointer" aria-hidden="true">{skinTone}</span>
          <span class="sr-only">{i18n.skinTones[i]}</span>
        </button>
      {/each}
    </div>

  </div>
  <div class="nav"
       role="tablist"
       style="grid-template-columns: repeat({categories.length}, 1fr);"
       aria-label={i18n.categoriesLabel}
       on:keydown={onNavKeydown}>
    {#each categories as category (category.group)}
      <button role="tab"
              class="nav-button"
              aria-controls="tab-{category.group}"
              aria-label={i18n.categories[category.name]}
              aria-selected={currentCategory.group === category.group}
              title={i18n.categories[category.name]}
              on:click={() => handleCategoryClick(category)}>
        <div class="emoji">
          {category.emoji}
        </div>
      </button>
    {/each}
  </div>
  <div class="indicator-wrapper"
       aria-hidden="true">
    <div class="indicator"
         style={indicatorStyle}
         use:calculateWidth>
    </div>
  </div>
  {#if message}
    <div class="message">{message}</div>
  {:else}
    <div class="tabpanel"
         role={searchMode ? 'region' : 'tabpanel'}
         aria-label={searchMode ? i18n.searchResultsLabel : i18n.categories[currentCategory.name]}
         id={searchMode ? '' : `tab-${currentCategory.group}`}
         tabindex="0"
         on:click={onEmojiClick}
    >
        <div class="emoji-menu"
             role={searchMode ? 'listbox' : 'menu'}
             aria-label={searchMode ? i18n.searchResultsLabel : i18n.categories[currentCategory.name]}
             id="search-results"
        >
          {#each currentEmojis as emoji, i (emoji.unicode)}
            <button role={searchMode ? 'option' : 'menuitem'}
                    aria-selected={searchMode ? i === activeSearchItem : ''}
                    aria-label={emoji.description}
                    class="tabpanel-emoji emoji {searchMode && i === activeSearchItem ? 'active' : ''}"
                    id="emoji-{emoji.unicode}">
              {#if currentSkinTone > 0 && emoji.skins && emoji.skins[currentSkinTone]}
                {emoji.skins[currentSkinTone]}
              {:else}
                {emoji.unicode}
              {/if}
            </button>
          {/each}
      </div>
    </div>
  {/if}
  <div aria-hidden="true" class="hidden abs-pos">
    <button tabindex="-1" class="emoji baseline-emoji" bind:this={baselineEmoji}>😀</button>
  </div>
</section>