@import '../../styles/global.scss';

.lep-emoji-menu {
  display: grid;
  grid-template-columns: repeat(var(--lep-num-columns), 1fr);
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // fix iOS scrolling
  will-change: transform; // fix "repaints on scroll" warning in Chrome https://crbug.com/514303
  min-height: 0;
  flex: 1;
}

button.lep-emoji {
  padding: 0.5rem 0.5rem;
  font-size: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Twemoji Mozilla",
  "Noto Color Emoji", "EmojiOne Color", "Android Emoji";

  &:hover {
    background-color: var(--lep-hover-background-color);
  }

  &:active {
    background-color: var(--lep-active-background-color);
  }
}

.lep-nav {
  display: flex;
  border-bottom: 1px solid var(--lep-border-color);
  contain: content;
}

button.lep-nav-button.lep-emoji {
  flex: 1;
  padding: 0.5rem 0;
}

.lep-tabpanel {
  min-height: 0;
  flex: 1;
  display: flex;
  contain: content;
}

.lep-search-row {
  display: flex;
  align-items: center;
  contain: content;
}

.lep-search-wrapper {
  flex: 1;
  min-width: 0;
  padding-left: 0.5rem;
}

input.lep-search {
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--lep-input-border-color);
  background-color: var(--lep-background-color);
  width: 100%;

  &::placeholder {
    color: var(--lep-placeholder-color);
  }
}