@mixin sizes() {
  --emoji-padding: 0.5rem;
  --emoji-size: 1.375rem;
  --indicator-height: 3px; /* Height of the nav indicator */
  --input-border-radius: 0.5rem;
  --input-border-size: 1px;
  --input-font-size: 1rem;
  --input-line-height: 1.5;
  --input-padding: 0.25rem;
  --num-columns: 8; /* How many columns to display in the emoji grid */
  --outline-size: 2px; /* Focus outline width */
  --border-size: 1px; /* Width of border used in most of the picker */
  --skintone-border-radius: 1rem; /* border radius of the skintone dropdown */
  --category-font-size: 1rem; /* Font size of custom emoji category headings */
}

@mixin colors($dark) {
  $bg: #fff;
  $border: #e0e0e0;
  $indicator: #385ac1;
  $input-border: #999;
  $input-color: #111;
  $input-placeholder: #999;
  $outline: #999;


  @if $dark {
    $bg: #222;
    $border: #444;
    $indicator: #5373ec;
    $input-border: #ccc;
    $input-color: #efefef;
    $input-placeholder: #ccc;
    $outline: #fff;
  }

  --background: #{$bg}; /* Background of the entire `<emoji-picker>` */
  --border-color: #{$border};
  --indicator-color: #{$indicator}; /* Color of the nav indicator */
  --input-border-color: #{$input-border};
  --input-font-color: #{$input-color};
  --input-placeholder-color: #{$input-placeholder};
  --outline-color: #{$outline}; /* Focus outline color */

  @if $dark {
    --button-active-background: #{lighten($bg, 20%)};
    --button-hover-background: #{lighten($bg, 15%)};
  }

  @else {
    --button-active-background: #{darken($bg, 10%)}; /* Background of an active button */
    --button-hover-background: #{darken($bg, 15%)}; /* Background of a hovered button */
  }
}

.picker {
  @include sizes();
  display: flex;
  width: min-content;
  height: 400px;
  font-family: sans-serif;
}

.picker.light {
  @include colors(false);
}

.picker.dark {
  @include colors(true);
}

@media (prefers-color-scheme: dark) {
  .picker {
    @include colors(true);
  }
}

// Nexus 5

@media screen and (max-width: 360px) {
  .picker {
    --emoji-padding: 0.25rem;
  }
}

// iPhone 4, iPhone SE 1st generation
@media screen and (max-width: 320px) {
  :host {
    --num-columns: 6;
  }
}

// JioPhone 2, Nokia 8110 4G, KaiOS devices generally
@media screen and (max-width: 240px) {
  :host {
    --num-columns: 6;
    --emoji-size: 1.125rem;
    --emoji-padding: 0.125rem;
    height: 240px;
  }
}