name: Tests
on:
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'
      - run: sudo apt-get install fonts-noto-color-emoji
      - run: yarn --frozen-lockfile
      - run: yarn lint
      - run: yarn benchmark:bundlesize
      - run: yarn cover
      - run: yarn test:leak
