name: Tests
on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable Corepack
        run: corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
      - run: sudo apt-get install fonts-noto-color-emoji
      - run: yarn lint
      - run: yarn benchmark:bundlesize
      - run: yarn cover
      - run: yarn test:leak
